.pith {
	display: inline-block;
	vertical-align: middle;
	width: 60%;
}
.text-padding {
	line-height: 2em
}
.text-size {
	font-size: small;
}
.text-color {
	color: #aaa;
}
.text-size-single{
	font-size:1.5em;
}
.text-size-small{
	font-size:1em;
}
.text-size-eight{
	font-size:0.8em;
}
.font-color {
	color:#f40;
}